<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Atida</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Atida</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="addUser"><a href="/addUser">Add user</a></li>
          <li style="height: 50px;">
            <label  style="padding-top: 15px;" >
              <input id="inputPicture" type="file" style="display: none;" accept="image/jpeg, image/png, image/jpg" />
              <a >add your photo</a>
            </label>
         </li>
          <li><output id="output"></output></li>
        </ul>
      </div>
    </nav>

    <body>
      <div class="container">
    </body>
  </head>
</html>
